/* Error: Expected tabs, was spaces.
 *    ,
 * 75 |  font-size: $fontSizeBig*1.5!important
 *    | ^
 *    '
 *   app.sass 75:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected tabs, was spaces.\a    \2577 \a 75 \2502   font-size: $fontSizeBig*1.5!important\d\a    \2502  ^\a    \2575 \a   app.sass 75:1  root stylesheet";
}
